body {
	background-color: #fce6ea;
	font-family: "Red Hat Display", serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.app-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 25px;
}

.header-text {
	font-family: "DM Serif Text", serif;
	color: #a53860;
}

.footer-text {
	color: #eb2f96;
	padding-top: 20px;
}

.img-container {
	display: flex;
	justify-content: center;
}

.nyan-img {
	max-height: 480px;
	border-radius: 10px;
}

.text-container {
	max-width: 50vw;
}

.nyan-text {
	font-size: 24px;
	color: #da627d;
}

.update-btn {
	width: 100px;
}
